<style>


table, tbody, th, td {
  display: flex;
  width:100%;
}
td{
    width:10vw;
}

</style>

<div class="card-body">
<div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="10" id="shifts_table">
                                    <tbody>
                                        <tr>
                                            <th class="bg-secondary text-white">Date</th>
                                            {% for day in date_list%}
                                            <td class="bg-secondary text-white">{{day}}</td>
                                            {% endfor %}
                                        </tr>

                                        <tr>
                                            <th class="bg-secondary text-white">6:00 - 15:00 (shift 1)</th>

                                        {% for shift in s1 %}
                                            <td>{{shift[2]}} </td>
                                        {% endfor %}
                                        </tr>

                                        <tr>

                                            <th class="bg-secondary text-white">8:00 - 17:00 (shift 2)</th>

                                        {% for shift in s2 %}
                                            <td>{{shift[2]}} </td>
                                        {% endfor %}

                                        </tr>

                                        <tr>
                                            <th class="bg-secondary text-white">11:00 - 20:00 (shift 3)</th>

                                    {% for shift in s3 %}
                                            <td>{{shift[2]}} </td>
                                    {% endfor %}
                                        </tr>
                                    </tbody>


                                </table>
</div>
</div>
